extends layout

block content
  h1= title
  p Welcome to #{title}
  button(onClick='document.location.href="/new"') New message
  hr
  each message in messages
    div
      p= message.user
      p= message.text
      p= message.added
      hr
